﻿@{
    ViewBag.Title = "Home Page";
}
<div id="paper"></div>
<script>
    var getInputType = function (str) {
        switch (str) {
            case 'text': return '<img src="/Content/abc2.png">';
            case 'dateTime': return '<img src="/Content/Calendar-48.png">';
            case 'boolean': return '<img src="/Content/Checked Checkbox 2-64.png">';
            case 'reference': return '<img src="/Content/Link Filled-50.png">';
            case 'string': return '<img src="/Content/abc2.png">';
        }
    };
    var actualHeight, actualWidth, beforeCollapseHeight, beforeCollapseWidth;

    $(document).on('click', '.collapseBtn', function () {
        beforeCollapseHeight = actualHeight;
        beforeCollapseWidth = actualWidth;
        innerHtml = $('.html-element').html();
        console.log(innerHtml);
        var replacementHtml =
            '<i class="glyphicon glyphicon-user headerImage"></i>' +
            '<h1>Employee</h1>' +
            '<h2>Doe, John</h2>' +
            '<button class="btn btn-xs expandBtn"><i class="glyphicon glyphicon-resize-full"></i></button>';
        $('.html-element').html(replacementHtml);
        el1.resize(250, 30);
    });
    $(document).on('click', '.expandBtn', function () {
        el1.resize(beforeCollapseWidth, beforeCollapseHeight);
        $('.html-element').html(innerHtml);
    });
    $(document).on('mouseover', '.row', function () {
        $(this).find('button').css('display', 'inline-block');
    });
    $(document).on('mouseout', '.row', function () {
        $(this).find('button').css('display', 'none');
    });
    var graph = new joint.dia.Graph;
    var paper = new joint.dia.Paper({ el: $('#paper'), width: 1200, height: 900, gridSize: 1, model: graph });

    // Create a custom element.
    // ------------------------

    joint.shapes.html = {};
    joint.shapes.html.Element = joint.shapes.basic.Rect.extend({
        defaults: joint.util.deepSupplement({
            type: 'html.Element',
            attrs: {
                rect: { stroke: 'none', 'fill-opacity': 0 }
            }
        }, joint.shapes.basic.Rect.prototype.defaults)
    });

    // Create a custom view for that element that displays an HTML div above it.
    // -------------------------------------------------------------------------
    joint.shapes.html.ElementView = joint.dia.ElementView.extend({

        template: [
            '<div class="html-element">',
            '<i class="glyphicon glyphicon-user headerImage"></i>',
            '<h1>Employee</h1>',
            '<h2>Doe, John</h2>',
            '<hr />',
            '<div class="content">',
                '<div ng-repeat="(key, val) in res" class="row">'+
                    '<div class="col-xs-7">'+
                        '<span>{{key}}</span>'+
                    '</div>'+
                    '<div class="col-xs-3">'+
                        '<span>type</span>'+
                    '</div>'+
                    '<div class="col-xs-2">'+
                        '<button class="btn btn-xs edit"><i class="glyphicon glyphicon-pencil"></i></button>'+
                        '<button class="btn btn-xs remove"><i class="glyphicon glyphicon-remove"></i></button>'+
                    '</div>'+
                '</div>'+
                '<a class="addField" ng-click="open()" href="#">Добавить поле</a>',
            '</div>',
            /*'<button class="delete"><i class="glyphicon glyphicon-remove"></i></button>',*/
            '<button class="collapseBtn"><i class="glyphicon glyphicon-minus"></i></button>',
            '</div>'
        ].join(''),

        initialize: function () {
            _.bindAll(this, 'updateBox');
            joint.dia.ElementView.prototype.initialize.apply(this, arguments);

            this.$box = $(_.template(this.template)());
            // Prevent paper from handling pointerdown.
            this.$box.find('input,select').on('mousedown click', function (evt) { evt.stopPropagation(); });
            // This is an example of reacting on the input change and storing the input data in the cell model.
            this.$box.find('input').on('change', _.bind(function (evt) {
                this.model.set('input', $(evt.target).val());
            }, this));
            this.$box.find('select').on('change', _.bind(function (evt) {
                this.model.set('select', $(evt.target).val());
            }, this));
            this.$box.find('select').val(this.model.get('select'));
            this.$box.find('.delete').on('click', _.bind(this.model.remove, this.model));
            // Update the box position whenever the underlying model changes.
            this.model.on('change', this.updateBox, this);
            // Remove the box when the model gets removed from the graph.
            this.model.on('remove', this.removeBox, this);

            //this.updateBox();
        },
        render: function () {
            joint.dia.ElementView.prototype.render.apply(this, arguments);
            this.paper.$el.prepend(this.$box);
            this.updateBox();
            return this;
        },
        updateBox: function () {
            // Set the position and dimension of the box so that it covers the JointJS element.
            var bbox = this.model.getBBox();
            actualHeight = bbox.height;
            actualWidth = bbox.width;
            // Example of updating the HTML with a data stored in the cell model.
            //this.$box.find('label').text(this.model.get('label'));
            //this.$box.find('span').text(this.model.get('select'));
            this.$box.css({ width: bbox.width, height: bbox.height, left: bbox.x, top: bbox.y, transform: 'rotate(' + (this.model.get('angle') || 0) + 'deg)' });
        },
        removeBox: function (evt) {
            this.$box.remove();
        }
    });

    // Create JointJS elements and add them to the graph as usual.
    // -----------------------------------------------------------

    var el1 = new joint.shapes.html.Element({ position: { x: 80, y: 80 }, size: { width: 350, height: 260 }/*, label: 'I am HTML', select: 'one'*/ });
    var el2 = new joint.shapes.html.Element({ position: { x: 370, y: 160 }, size: { width: 350, height: 260 }/*, label: 'Me too', select: 'two'*/ });


    var l = new joint.dia.Link({
        source: { id: el1.id },
        target: { id: el2.id },
        attrs: { '.connection': { 'stroke-width': 5, stroke: '#34495E' } }
    });
    l.set('smooth', true);

    graph.addCells([el1, el2, l]);

</script>



<div id="myModal">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Добавить поле</h3>
        </div>
        <div class="modal-body">
            <form role="form">
                <div class="form-group">
                    <label for="name">Название</label>
                    <input ng-model="newField.name" type="text" class="form-control" id="name" placeholder="Введите название" required />
                </div>
                <div class="form-group">
                    <label for="type">Тип</label>
                    <select ng-model="newField.type" class="form-control" id="type" name="type">
                        <option value="text">Текст</option>
                        <option value="string">Текст с индексом</option>
                        <option value="dateTime">Дата/Время</option>
                        <option value="boolean">Булево</option>
                        <option value="reference">Ссылка</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="value">Значение</label>
                    <input ng-model="newField.value" type="text" class="form-control" id="value" placeholder="Введите значение" required />
                </div>
                <div class="form-group">
                    <label><input type="checkbox" value="multi" id="multi" /> Многозначное</label>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Сохранить</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Отмена</button>
        </div>
    </script>
</div>