﻿<div id="myModal">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Добавить поле</h3>
        </div>
        <div class="modal-body">
            <form role="form">
                <div class="form-group">
                    <label for="name">Название</label>
                    <input ng-model="newField.name" type="text" class="form-control" id="name" placeholder="Введите название" required />
                </div>
                <div class="form-group">
                    <label for="type">Тип</label>
                    <select ng-model="newField.type" class="form-control" id="type" name="type">
                        <option value="text">Текст</option>
                        <option value="string">Текст с индексом</option>
                        <option value="dateTime">Дата/Время</option>
                        <option value="boolean">Булево</option>
                        <option value="reference">Ссылка</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="value">Значение</label>
                    <input ng-model="newField.value" type="text" class="form-control" id="value" placeholder="Введите значение" required />
                </div>
                <div class="form-group">
                    <label><input type="checkbox" value="multi" id="multi" /> Многозначное</label>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Сохранить</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Отмена</button>
        </div>
    </script>
</div>
